#background {
    background-image: url("assets_basic/background.png");
    height: 800px;
    width: 1200px;

}
#hero {
    background-image: url("assets_basic/hero.png");
    height: 50px;
    width: 50px;
    position: absolute;
    top: 700px;
    left: 550px;
}

.enemy {
    background-image: url("assets_basic/enemy.png");
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    left: 550px;

}
#missiles {
    height: 50px;
    width: 50px;
    position: absolute;
}


.missile {
    background-image: url("assets_basic/missile1.png");
    height: 16px; /*look at size of images given */
    width: 10px;
    position: absolute;
}